body {
    font: 11pt Helvetica,Arial;
    background: #333;
}


/****************/
/* five column GRID STYLES
-----------------------------------------------------------------*/

.item {
    float: left;
    position: relative;
    line-height: 1em;
}

.item { width: 20%; }
.item:last-child{display: block;}

@media screen and (max-width: 720px) {
    .item { width: 50%; }
    .item:last-child{display: block;}
}

@media screen and (max-width: 359px) {
    .item { width: 100%; }
}

.image{
    /*max-width: 100%;*/
    margin: 20px;
    display: block;
    cursor: pointer;
    max-width: 185px;
    max-height: 278px;
}

.image:after {
    clear:both;
}

/****** OVERLAY ***/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.card {
    width: 350px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
    }
}

@media screen and (max-width: 479px) {

    .image{
        margin: 0;
    }

    .card {
        width: 260px;
    }

    .overlay .closebtn {
        font-size: 30px;
        top: 5px;
        right: 5px;
    }

    .container{
        margin: 0;
        padding: 0;
    }
}

/*** Card **/
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 20px; /* Added */
}

.card-date{
    float: left;
    color: #b7b7b7;
    font-weight: bold;
}

.card-rating-orange{
    color: #f48942;
}
.card-rating{
    float: right;
    font-weight: bold;
    font-size: large;
}

.card-top{
    margin-bottom: 30px;
}

.card-title {
    clear:both;
}
